<div style="position: absolute;
            top: 0;
            bottom: 0;
            left: -10px; right: -10px;
            background: url('http://domo:8080/static/images/0_ground_floor.png');
            background-size: cover;
            background-repeat: no-repeat;">

  	<!-- 14_Entry - RFID -->
    <div style="position: absolute; background: rgba(0,0,0,0.5); border-radius: 20px;
                top: 630px; left: 620px;
                height: 123px; width: 210px; ">
        <div class="row" id="14_Entry_Door" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;" ng-click="sendCmd('14_Entry_RFID', '{\"doorip\":\"{{itemState(\'14_Entry_Network_IP\')}}\",\"cmd\":\"opendoor\"}')">
                <widget-icon iconset="'freepik-household'" icon="'door'" colorize="false"  size="24" state="itemValue('14_Entry_Door')=='OFF' ? 'OFF':'ON'" />
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('14_Entry_Door')}}</span></div>
        </div>
        <div class="row" id="14_Entry_AccessOk_Name" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'freepik-household'" icon="'door-2'" colorize="false"  size="24" state="'ON'" />
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('14_Entry_AccessOk_Name')}}/{{itemValue('14_Entry_AccessOk_UID')}}</span></div>
        </div>
        <div class="row" id="14_Entry_AccessOk_Time" style="margin-top: 2px;">
            <div class="col-xs-3 text-left" style="margin-left: 29px;"><span style="font-size: 9pt;">{{itemValue('14_Entry_AccessOk_Time')}}</span></div>
        </div>
        <div class="row" id="14_Entry_AccessKo_Name" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'freepik-household'" icon="'door-2'" colorize="false"  size="24" state="'OFF'" />
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('14_Entry_AccessKo_Name')}}/{{itemValue('14_Entry_AccessKo_UID')}}</span></div>
        </div>
        <div class="row" id="14_Entry_AccessKo_Time" style="margin-top: 2px;">
            <div class="col-xs-3 text-left" style="margin-left: 29px;"><span style="font-size: 9pt;">{{itemValue('14_Entry_AccessKo_Time')}}</span></div>
        </div>
    </div>

    <!-- 15_Entry - Sensors -->
    <div style="position: absolute; background: rgba(0,0,0,0.5); border-radius: 20px;
                top: 550px; left: 200px;
                height: 133px; width: 100px;">
        <div class="row" id="15_Entry_System_Alert" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'power'" size="24" state="itemValue('15_Entry_System_Alert')=='OFF' ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('15_Entry_System_Alert')}}</span></div>
        </div>
        <div class="row" id="15_Entry_Sensor_Alert" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'alarm'" size="24" state="itemValue('15_Entry_Sensor_Alert')=='OFF' ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('15_Entry_Sensor_Alert')}}</span>
            </div>
        </div>
        <div class="row" id="15_Entry_Sensor_Temperature" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'temperature'" size="24" state="itemValue('15_Entry_Sensor_Temperature')>20 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('15_Entry_Sensor_Temperature')}}°C</span>
            </div>
        </div>
        <div class="row" id="15_Entry_Sensor_Humidity" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'drop'" size="24" state="itemValue('15_Entry_Sensor_Humidity')<50 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('15_Entry_Sensor_Humidity')}}%</span></div>
        </div>
        <div class="row" id="15_Entry_Sensor_Pressure" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'thermostat'" size="24" state="itemValue('15_Entry_Sensor_Pressure')<1000 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{'%.02f' | sprintf:itemValue('15_Entry_Sensor_Pressure')/10000}}<small style="font-size:8pt">MPa</small></span></div>
        </div>
    </div>

    <!-- 16_Livingroom - Sensors -->
    <div style="position: absolute; background: rgba(0,0,0,0.5); border-radius: 20px;
			    top: 180px; left: 220px;
			    height: 133px; width: 100px;">
        <div class="row" id="16_Livingroom_System_Alert" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'power'" size="24" state="itemValue('16_Livingroom_System_Alert')=='OFF' ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('16_Livingroom_System_Alert')}}</span></div>
        </div>
        <div class="row" id="16_Livingroom_Sensor_Alert" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'alarm'" size="24" state="itemValue('16_Livingroom_Sensor_Alert')=='OFF' ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('16_Livingroom_Sensor_Alert')}}</span>
            </div>
        </div>
        <div class="row" id="16_Livingroom_Sensor_Temperature" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'temperature'" size="24" state="itemValue('16_Livingroom_Sensor_Temperature')>20 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('16_Livingroom_Sensor_Temperature')}}°C</span>
            </div>
        </div>
        <div class="row" id="16_Livingroom_Sensor_Humidity" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'drop'" size="24" state="itemValue('16_Livingroom_Sensor_Humidity')<50 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('16_Livingroom_Sensor_Humidity')}}%</span></div>
        </div>
        <div class="row" id="16_Livingroom_Sensor_Pressure" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'thermostat'" size="24" state="itemValue('16_Livingroom_Sensor_Pressure')<1000 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{'%.02f' | sprintf:itemValue('16_Livingroom_Sensor_Pressure')/10000}}<small style="font-size:8pt">MPa</small></span></div>
        </div>
    </div>

    <!-- 17_Kitchen - Sensors -->
    <div style="position: absolute; background: rgba(0,0,0,0.5); border-radius: 20px;
                top: 215px; left: 1000px;
                height: 133px; width: 100px;">
        <div class="row" id="17_Kitchen_System_Alert" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'power'" size="24" state="itemValue('17_Kitchen_System_Alert')=='OFF' ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('17_Kitchen_System_Alert')}}</span></div>
        </div>
        <div class="row" id="17_Kitchen_Sensor_Alert" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'alarm'" size="24" state="itemValue('17_Kitchen_Sensor_Alert')=='OFF' ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('17_Kitchen_Sensor_Alert')}}</span></div>
        </div>
        <div class="row" id="17_Kitchen_Sensor_Temperature" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'temperature'" size="24" state="itemValue('17_Kitchen_Sensor_Temperature')>20 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('17_Kitchen_Sensor_Temperature')}}°C</span>
            </div>
        </div>
        <div class="row" id="17_Kitchen_Sensor_Humidity" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'drop'" size="24" state="itemValue('17_Kitchen_Sensor_Humidity')<50 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('17_Kitchen_Sensor_Humidity')}}%</span></div>
        </div>
        <div class="row" id="17_Kitchen_Sensor_Pressure" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'thermostat'" size="24" state="itemValue('17_Kitchen_Sensor_Pressure')<1000 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{'%.02f' | sprintf:itemValue('17_Kitchen_Sensor_Pressure')/10000}}<small style="font-size:8pt">MPa</small></span></div>
        </div>
    </div>

    <!-- 26_Entry - Camera -->
    <div style="position: absolute; background: rgba(0,0,0,0.5); border-radius: 20px;
                top: 470px; left: 300px;
                height: 87px; width: 140px;">
        <div class="row" id="26_Entry_Lamp" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;" ><div style="margin-top: 2px;" ng-click="sendCmd('26_Entry_Lamp', itemState('26_Entry_Lamp_OnOff')=='ON' ? '0' : '50')">
                <widget-icon state="itemValue('26_Entry_Lamp_OnOff')=='OFF' ? 'OFF':'ON'" iconset="'freepik-household'" colorize="false" icon="'lamp'" size="24" />
            </div></div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">Lamp</span></div>
        </div>
        <div class="row" id="26_Entry_Face_Detection" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;" ng-click="sendCmd('26_Entry_Face_Detection', itemState('26_Entry_Face_Detection')=='ON' ? '0' : '50')">
                <widget-icon state="itemValue('26_Entry_Face_Detection')=='OFF' ? 'OFF':'ON'" iconset="'freepik-gadgets'" colorize="false" icon="'cctv'" size="24" />
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">Detection</span></div>
        </div>
        <div class="row" id="26_Entry_Face_Recognition" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;" ng-click="sendCmd('26_Entry_Face_Recognition', itemState('26_Entry_Face_Recognition')=='ON' ? '0' : '50')">
                <widget-icon state="itemValue('26_Entry_Face_Recognition')=='OFF' ? 'OFF':'ON'" iconset="'freepik-housethings'" colorize="false" icon="'square-framed-mirror'" size="24" />
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">Recognition</span></div>
        </div>
    </div>

  	<!-- 26_Entry - Streaming -->
    <div style="position: absolute; background: rgba(0,0,0,0.5); border-radius: 20px;
                top: 570px; left: 400px;
                height: 205px; width: 205px; ">
        <div ng-init="image={url: 'http://10.1.1.126:8080/view'} " style="width: 100%; height: 200px; margin: 2px;" >
            <widget-image ng-model="image" ></widget-image>
        </div>
    </div>
</div>