<div style="position: absolute;
            top: 0;
            bottom: 0;
            left: -10px; right: -10px;
            background: url('http://domo:8080/static/images/2_second_floor.png');
            background-size: cover;
            background-repeat: no-repeat;">

    <!-- 22_Guillain - Sensors -->
    <div style="position: absolute; background: rgba(0,0,0,0.5); border-radius: 20px;
                top: 150px; left: 450px;
                height: 133px; width: 100px; ">
        <div class="row" id="22_Guillain_System_Alert" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'power'" size="24" state="itemValue('22_Guillain_System_Alert')=='OFF' ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('22_Guillain_System_Alert')}}</span></div>
        </div>
        <div class="row" id="22_Guillain_Sensor_Alert" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'alarm'" size="24" state="itemValue('22_Guillain_Sensor_Alert')=='OFF' ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('22_Guillain_Sensor_Alert')}}</span></div>
        </div>
        <div class="row" id="22_Guillain_Sensor_Temperature" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'temperature'" size="24" state="itemValue('22_Guillain_Sensor_Temperature')>20 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('22_Guillain_Sensor_Temperature')}}°C</span></div>
        </div>
        <div class="row" id="22_Guillain_Sensor_Humidity" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'drop'" size="24" state="itemValue('22_Guillain_Sensor_Humidity')<50 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('22_Guillain_Sensor_Humidity')}}%</span></div>
        </div>
        <div class="row" id="22_Guillain_Sensor_Pressure" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'thermostat'" size="24" state="itemValue('22_Guillain_Sensor_Pressure')<1000 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{'%.02f' | sprintf:itemValue('22_Guillain_Sensor_Pressure')/10000}}<small style="font-size:8pt">MPa</small></span></div>
        </div>
    </div>

    <!-- 23_Deskroom - Sensors -->
    <div style="position: absolute; background: rgba(0,0,0,0.5); border-radius: 20px;
                top: 220px; left: 1050px;
                height: 133px; width: 100px; ">
        <div class="row" id="23_Deskroom_System_Alert" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'power'" size="24" state="itemValue('23_Deskroom_System_Alert')=='OFF' ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('23_Deskroom_System_Alert')}}</span></div>
        </div>
        <div class="row" id="23_Deskroom_Sensor_Alert" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'alarm'" size="24" state="itemValue('23_Deskroom_Sensor_Alert')=='OFF' ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('23_Deskroom_Sensor_Alert')}}</span></div>
        </div>
        <div class="row" id="23_Deskroom_Sensor_Temperature" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'temperature'" size="24" state="itemValue('23_Deskroom_Sensor_Temperature')>20 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('23_Deskroom_Sensor_Temperature')}}°C</span></div>
        </div>
        <div class="row" id="23_Deskroom_Sensor_Humidity" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'drop'" size="24" state="itemValue('23_Deskroom_Sensor_Humidity')<50 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('23_Deskroom_Sensor_Humidity')}}%</span></div>
        </div>
        <div class="row" id="23_Deskroom_Sensor_Pressure" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'thermostat'" size="24" state="itemValue('23_Deskroom_Sensor_Pressure')<1000 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{'%.02f' | sprintf:itemValue('23_Deskroom_Sensor_Pressure')/10000}}<small style="font-size:8pt">MPa</small></span></div>
        </div>
    </div>

    <!-- 29_Lab32 - Camera -->
    <div style="position: absolute; background: rgba(0,0,0,0.5); border-radius: 20px;
                top: 390px; left: 1190px;
                height: 87px; width: 140px;">
        <div class="row" id="29_Lab32_Lamp" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;" ><div style="margin-top: 2px;" ng-click="sendCmd('29_Lab32_Lamp', itemState('29_Lab32_Lamp_OnOff')=='ON' ? '0' : '50')">
                <widget-icon state="itemValue('29_Lab32_Lamp_OnOff')=='OFF' ? 'OFF':'ON'" iconset="'freepik-household'" colorize="false" icon="'lamp'" size="24" />
            </div></div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">Lamp</span></div>
        </div>
        <div class="row" id="29_Lab32_Face_Detection" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;" ng-click="sendCmd('29_Lab32_Face_Detection', itemState('29_Lab32_Face_Detection')=='ON' ? '0' : '50')">
                <widget-icon state="itemValue('29_Lab32_Face_Detection')=='OFF' ? 'OFF':'ON'" iconset="'freepik-gadgets'" colorize="false" icon="'cctv'" size="24" />
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">Detection</span></div>
        </div>
        <div class="row" id="29_Lab32_Face_Recognition" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;" ng-click="sendCmd('29_Lab32_Face_Recognition', itemState('29_Lab32_Face_Recognition')=='ON' ? '0' : '50')">
                <widget-icon state="itemValue('29_Lab32_Face_Recognition')=='OFF' ? 'OFF':'ON'" iconset="'freepik-housethings'" colorize="false" icon="'square-framed-mirror'" size="24" />
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">Recognition</span></div>
        </div>
    </div>

  	<!-- 29_Lab32 - Streaming -->
    <div style="position: absolute; background: rgba(0,0,0,0.5); border-radius: 20px;
            top: 390px; left: 970px;
            height: 205px; width: 205px;">
        <div ng-init="image={url: 'http://10.1.1.129:8080/view'} " style="width: 100%; height: 200px; margin: 2px;" >
            <widget-image ng-model="image" ></widget-image>
        </div>
    </div>

    <!-- 30_Lab8266 - Sensors -->
    <div style="position: absolute; background: rgba(0,0,0,0.5); border-radius: 20px;
                top: 505px; left: 1195px;
                height: 133px; width: 100px; ">
        <div class="row" id="30_Lab8266_System_Alert" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'power'" size="24" state="itemValue('30_Lab8266_System_Alert')=='OFF' ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('30_Lab8266_System_Alert')}}</span></div>
        </div>
        <div class="row" id="30_Lab8266_Sensor_Alert" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'alarm'" size="24" state="itemValue('30_Lab8266_Sensor_Alert')=='OFF' ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('30_Lab8266_Sensor_Alert')}}</span></div>
        </div>
        <div class="row" id="30_Lab8266_Sensor_Temperature" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'temperature'" size="24" state="itemValue('30_Lab8266_Sensor_Temperature')>20 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('30_Lab8266_Sensor_Temperature')}}°C</span></div>
        </div>
        <div class="row" id="30_Lab8266_Sensor_Humidity" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'drop'" size="24" state="itemValue('30_Lab8266_Sensor_Humidity')<50 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{itemValue('30_Lab8266_Sensor_Humidity')}}%</span></div>
        </div>
        <div class="row" id="30_Lab8266_Sensor_Pressure" style="margin-top: 2px;">
            <div class="col-xs-3" style="margin-left: 5px;">
                <widget-icon iconset="'smarthome-set'" icon="'thermostat'" size="24" state="itemValue('30_Lab8266_Sensor_Pressure')<1000 ? 'OFF':'ON'"/>
            </div>
            <div class="col-xs-3 text-left"><span style="font-size: 12pt;">{{'%.02f' | sprintf:itemValue('30_Lab8266_Sensor_Pressure')/10000}}<small style="font-size:8pt">MPa</small></span></div>
        </div>
    </div>
</div>